In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [20]:
data= pd.read_csv("Indian_Premier_League_ML.csv")
data['Winner_HA']=( data['Winner'] == data['Home']).astype(int)
data['Toss_HA']=(data['Toss_Winner_Id']== data['Home']).astype(int)
data['Bat_HA'] = pd.get_dummies(data['Toss_Decision'],drop_first=True)
data.head()

,Match_Id,Match_Date,Home,Away,Season_Id,Toss_Winner_Id,Toss_Decision,Win_Type,City_Name,Host_Country,Winner,Winner_HA,Toss_HA,Bat_HA
0,335987,18-Apr-08,2,1,1,2,field,by runs,Bangalore,India,1.0,0,1,1
1,335988,19-Apr-08,4,3,1,3,bat,by runs,Chandigarh,India,3.0,0,0,0
2,335989,19-Apr-08,6,5,1,5,bat,by wickets,Delhi,India,6.0,1,0,0
3,335990,20-Apr-08,7,2,1,7,bat,by wickets,Mumbai,India,2.0,0,1,0
4,335991,20-Apr-08,1,8,1,8,bat,by wickets,Kolkata,India,1.0,1,0,0

In [28]:
data[['Toss_HA','Bat_HA']]

     Toss_HA  Bat_HA
0          1       1
1          0       0
2          0       0
3          1       0
4          0       0
..       ...     ...
572        0       1
573        0       1
574        0       1
575        0       1
576        0       0

[577 rows x 2 columns]

In [29]:
x=data[['Toss_HA','Bat_HA']]
y=data['Winner_HA']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.30, random_state=10)

In [30]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

C:\Users\sachi\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [31]:
predictions = logmodel.predict(X_test)

In [32]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.48      0.56      0.52        75
           1       0.62      0.54      0.57        99

    accuracy                           0.55       174
   macro avg       0.55      0.55      0.54       174
weighted avg       0.56      0.55      0.55       174